wp-content/gallery/*
wp-content/uploads/*
sql/*.tar.bz2
sql/*.tar.gz
*
!wp-content
wp-content/*
!wp-content/plugins
wp-content/plugins/*
!wp-content/themes
wp-content/themes/*
!wp-content/plugins/media-list
!wp-content/plugins/prayer-schedule
!wp-content/plugins/unique-downloader
!wp-content/plugins/vtone-tabs
!wp-content/plugins/vtone-sections
!wp-content/themes/vtone-modularity-lite-3
!wp-content/themes/vtone
.project
.htaccess
.settings
.buildpath
index.php
.vagrant
