wp/*
!wp/wp-content
wp/wp-content/*
!wp/wp-content/plugins
wp/wp-content/plugins/*
!wp/wp-content/themes
wp/wp-content/themes/*
!wp/wp-content/plugins/media-list
!wp/wp-content/plugins/prayer-schedule
!wp/wp-content/plugins/unique-downloader
!wp/wp-content/plugins/vtone-tabs
!wp/wp-content/themes/vtone-modularity-lite-3
.project
.htaccess
.settings
.buildpath
index.php
.vagrant
