
sql/*
.vagrant

# Exclude the wordpress installation except for vtone-specific things
!wp
wp/*
!wp/wp-content
wp/wp-content/*
wp/wp-content/gallery/*
wp/wp-content/uploads/*
wp/wp-content/cache/*

# Themes
!wp/wp-content/themes
wp/wp-content/themes/*
!wp/wp-content/themes/vtone

# Plugins
!wp/wp-content/plugins
wp/wp-content/plugins/*
!wp/wp-content/plugins/media-list
!wp/wp-content/plugins/prayer-schedule
!wp/wp-content/plugins/unique-downloader
!wp/wp-content/plugins/vtone-bootstrap
!wp/wp-content/plugins/vtone-sections
