/* ----------- Album Styles Extend -------------*/

.ngg-thumbnail img {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

div.ngg-gallery-thumbnail-box {
	width: 120px;
	height: 95px;
	overflow: hidden;
	text-align: center;
}

div.ngg-gallery-thumbnail-box .ngg-gallery-thumbnail {
	display: inline-block;
	float: none;
}

div.ngg-albumcontent div.ngg-thumbnail {
	width: 120px;
	overflow: hidden;
}

div.ngg-albumcontent div.ngg-description {
	width: 400px;
	float: left;
}

div.ngg-description p {
	margin-top: 0px;
}

.ngg-albumoverview {
	margin-top: 10px;
	width: 100%;
	clear:both; 
	display:block !important;
}

.ngg-album {
    min-height: 85px;
    padding: 5px;
    margin-bottom: 5px;
}

/* IE6 will ignore this , again I hate IE6 */
/* See also http://www.sitepoint.com/article/browser-specific-css-hacks */
html>body .ngg-album {
    overflow:hidden;
    padding: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #cccccc;
} 

.ngg-album {
	overflow: hidden;
	padding: 5px;
	margin-bottom: 5px;
	border-top: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* ------ album title should look a lot like headers ------ */
.ngg-albumtitle {
	color: #5c5c5c;
	margin-top: 0;
    font-weight: bold;
    font-family: Exo,serif;
}

.ngg-albumtitle a {
	color: inherit;
}

.ngg-photocount {
	text-align: left;
	margin:0px;
	padding:0px;
	font-size: 0.8em;
	margin-bottom: 5px;
}

