.nivoSlider {
	position:relative;
	width: 1000px;
	height: 425px;
	background:url(images/slideshow/0ss-logo.jpg) no-repeat 50% 50% black;
}

.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display: none;
}

.nivo-controlNav {
	float: right;
	position: absolute;
	bottom: 0;
	right: 10px;
	background: black;
	z-index: 99;
	padding-left: 5px;
	padding-right: 5px;
}

.nivo-controlNav a {
	border: 1px solid black;
	background: white;
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 5px;
	text-indent: -9999px;
}

.nivo-controlNav a.active {
	background: #f36b00;
}
