<VirtualHost *:443>
    ServerName www-master1.vt-one.org
{% for alias in server_aliases_httpd %}
    ServerAlias {{ alias }}
{% endfor %}

    ServerAdmin webmaster@vt-one.org

    DocumentRoot /srv/www/vhosts/vt-one.org/htdocs

    ErrorLog /var/log/httpd/vt-one.org-ssl-error.log
    CustomLog /var/log/httpd/vt-one.org-ssl-access.log common

    SSLEngine on
    SSLCertificateFile /etc/httpd/vhosts.d/vt-one.org.pem
    SSLCertificateKeyFile /etc/httpd/vhosts.d/vt-one.org.key
    SSLCACertificateFile /etc/httpd/vhosts.d/vt-one.org.ca-bundle

    # intermediate configuration, tweak to your needs
    SSLProtocol             all -SSLv2 -SSLv3
    SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:\
        ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:\
        ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:\
        ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:\
        DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:\
        ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:\
        ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:\
        ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:\
        ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:\
        DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:\
        ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:\
        AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:\
        AES256-SHA:DES-CBC3-SHA:!DSS
    SSLHonorCipherOrder     on

    SetEnvIf User-Agent ".*MSIE.*" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0

    Header set Access-Control-Allow-Origin "*"

    <Directory /var/www/vhosts/vt-one.org/htdocs>
        AllowOverride All
        Options -Indexes

        Order allow,deny
        Allow from all
    </Directory>

    RewriteEngine On

    # Redirect to the proper hostname
    RewriteCond %{HTTP_HOST} ^(www)?\.vt-one\.com$
    RewriteRule ^(.*)$ http://vt-one.org$1 [L,R=301]

    # Digital Downloads page
    RewriteCond %{HTTP_HOST} ^digitaldownloads.vt-one.org$
    RewriteRule ^(.*)$ http://vt-one.org/m/digital-downloads [L,R=301]

    # Login page
    RewriteCond %{REQUEST_URI} ^/wp/wp-(login|admin)
    RewriteRule ^(.*)$ https://vt-one.org$1 [L,R]

    # Live page to YouTube Channel
    RewriteCond %{HTTP_HOST} ^live.vt-one.org$
    RewriteRule ^(.*)$ https://www.youtube.com/VtOneOrg1 [L,R=301]

    # Store to Square
    Redirect /store https://squareup.com/market/vtone

</VirtualHost>
